<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <h1>login</h1>
        <p>Masukan ID: <br></p>
        <input type="text" autocomplete="off" name="angka1" placeholder="masukan nama anda">
        <p>Masukan password: <br></p>
        <input type="password" autocomplete="off" name="angka2" placeholder="masukan nama anda"><br>
        <input type="submit" value="Login">
        <p>sudah ada akun?<a href="/buatakun">login</a></p>
    </form>
</body>
</html>